:root {
    --primary-text-color: #757575;
    --second-text-color: #212121;
    --accent-text-color: #2196F3;
    --primary-bg-color:#E5E5E5;
    --second-bg-color:#ffffff;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--primary-bg-color);
    letter-spacing: 0.03em;
    }

    /* ----навігація--- */

.header {
    background-color: var(--second-bg-color);
}
 .logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc (31 / 26);
    letter-spacing: 0.03em;    
    color: var(--accent-text-color);
 }
 .logo:hover,
 .logo:focus {
     color: #000000;
 }
 
 .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;    
    color: var(--second-text-color);
 }
 .nav-link:hover,
 .nav-link:focus {
     color: var(--accent-text-color);
 }
 .nav-list {
     text-decoration: none;
 }       
    
       
    
        .nav-list {}
    
        .nav-item {}
    
        
        .header-address {}
    
        .address-mail {}
    
        .mail-link {}
    
        .addres-tel {}
    
        .tel-link {}